body {
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    text-align: center;
}

.margin-top-10 {
    margin-top: 10px;
}

.margin-top-15 {
    margin-top: 15px;
}

.flex-center {
    display: flex;
    justify-content: center;
}

tr:hover {
    background-color: #f4f4f4;
}

#phoneFilter {
    display: none;
}

@media only screen and (max-width:768px) {
    body {
        margin: 0px 10px;
    }

    #phoneFilter {
        display: flex;
        justify-self: center;
    }

    form {
        animation: fadeIn 0.5s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }
}